/* RESPONSIVE */

@media (max-width: 1184px) {
  .container {
    width: 100%;
    margin: 0;
  }

  /* MAIN */

  .menu nav,
  .menu .hidden-xl {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .menu nav > div {
    flex: 1 1 20%;
  }

  .images {
    height: 372px;
  }

  .small-img {
    min-width: 402px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    margin: 0;
  }

  /* HEADER */

  header div nav {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  header div nav div:not(:last-of-type) span {
    display: none;
  }

  /* MAIN */

  .menu {
    padding-top: 20px;
    padding-bottom: 24px;
  }

  .images {
    height: 276px;
  }

  .column1 {
    flex: 2;
  }

  .small-img {
    flex: 1;
    min-width: unset;
  }

  .presentation .description {
    width: 100%;
  }

  .presentation .voyage {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
  }

  /* HEADER */

  header > div:first-child {
    display: none;
  }

  .visible-xs {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
  }

  .visible-xs img {
    height: 50px;
    margin: 0;
  }

  /* MAIN */

  .menu nav {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: scroll;
  }

  .menu nav > div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex: none;
    flex-shrink: 0;
    width: auto;
    height: 100%;
    min-width: 150px;
    gap: 15px;
  }

  .main-images {
    padding: unset;
  }

  .small-img {
    display: none;
  }

  .highlights > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
  }

  .carrousel img {
    max-width: 579px;
    max-height: 434px;
    width: unset;
    height: unset;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
  }
}
